.h1{
    text-align: center;
}
.fileContainer{
    border: 1px solid grey;
    display: flex;
    gap: 3px;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    
}
.flexItem{
    background-color: skyblue;
    
    border: 1px solid white;
    color:black;
    font-size: 20px;
    width: 80px;
    height: 60px;
}


.fileContainer1{
    border: 1px solid grey;
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    
}
.flexItem1{
    background-color: skyblue;
    border: 1px solid white;
    color:black;
    font-size: 20px;
    width: 80px;
    height: 60px;
}


.fileContainer2{
    border: 1px solid grey;
    display: flex;
    gap: 3px;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    
}
.flexItem2{
    background-color: skyblue;
    
    border: 1px solid white;
    color:black;
    font-size: 20px;
    width: 80px;
    height: 60px;
}


.fileContainer3{
    height: 90px;
    border: 1px solid grey;
    display: flex;
    gap: 3px;
    flex-direction: row;
    justify-content: start;
    align-items:end;
}
.flexItem3{
    background-color: skyblue;
    border: 1px solid white;
    color:black;
    font-size: 20px;
    width: 80px;
    height: 60px;
}
.fileContainer4{
    height: 90px;
    border: 1px solid grey;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: start;
    align-items:center;
}
.flexItem4{
    background-color: skyblue;
    border: 1px solid white;
    color:black;
    font-size: 20px;
    width: 40px;
    height: 60px;
}


.fileContainer5{
    height: 90px;
    border: 1px solid grey;
    display: flex;
    gap: 3px;
    flex-direction: row;
    justify-content: start;
    align-items:center;
}
.flexItem5{
    background-color: skyblue;
    border: 1px solid white;
    color:black;
    font-size: 20px;
    width: 40px;
    height: 60px;
}
.Flex1{
   order:0
}
.Flex2{
   order:100
}
.Flex3{
  order:-1
}